
:root {
    --background: #3C343D;
    --background-card: #6B626C;
    --primary-color: #191919;
}


body {
    background-color: #3C343D;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-style: none;
    background-color: #3C343D;
}
.nav-right {
	color: #ffffff;
}

a.nav-item {
	color: #ffffff;
}

a.nav-item:hover {
	color: #03fc13;
}

.background {
    display: grid;
    place-items: center;
    height: max-content;
}

.gallery {
    display: flex;
    left: calc(50% - 330px);
}

.card {
    position: relative;
    left: 0px;
    width: 200px;
    height: 360px;
    background-color: var(--background-card);
    border-radius: 8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card:not(:first-child) {
    margin-left: -45px;
}

.card:hover {
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;
}

.card:hover ~ .card {
    left: 55px;
}

.card img {
    height: 360px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.footer {
	padding: 0.2rem;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}