/*photo grid html*/

* {
    background-color: darkcyan;
    width: 980px;
    margin: auto;
    padding: 0%
}
img{
    width: 30%;
    padding: 0%;
    margin: 0;
    float: none;

 }
 
 p {
    font-family: Raleway;
    margin-left: 1.66;
    font-size: 25px;
    font-weight: 900;
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
    width: 30%;
 }
 footer {
    text-align: center;
    color: black;
 }
 