html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #f7f9fa; 
}

a {
	color: #000000;
	font-size: 16px;
	font-weight: bolder;
	font-style: italic;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
a:hover {
	color: #1aff00;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}


.section2 {
	background-color: #ff4800;
	display: flex;
}

.section1 {
	background-color: #f4fafe;
	
}

.section3 {
	background-color: #f6f8f8;
	
}

.footer {
	padding: 0.2rem;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
}

.nav-right {
	color: #000000;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a.nav-item {
	color: #000000;
}

a.nav-item:hover {
	color: #03fc13;
}

.avatar{
	height:200px;
	border-radius: 0%;
}

.intro-description{
	padding-top: 1rem;
}

.lighting {
	max-width: 125px;;
	max-height:175px;
	margin-bottom:15px;
	gap: 8px;
	border-radius: 25%;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.github,
.linkedin {
	max-width: 125px;;
	max-height:175px;
	margin-bottom:15px;
	gap: 8px;
	border-radius: 25%;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 556px;
	max-width: 556px;
}

.titleis-3 {
	text-align: center;
	font-size: 36px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #000000;
	font-style: italic;
	
}

.titleis-3DP {
	text-align: center;
	font-size: 36px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #000000;
	font-style: italic;
	text-shadow: 0px 1px 0px white;
}

.titleis-3DP :hover {
	color: #03fc13;
}

.project-text {
	text-align: center;
	font-size: 36px;
	font-style: italic;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	font-weight: bolder;
	color: #000000;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #f7f9fa;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #000000;
	}

	.nav-toggle span:hover {
		background-color: #ff6f00;
	}

}

.nav-toggle.is-active {
	display: block;
}